@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Technical Test </h1>
    <p>  <a href="">Here you will find oall the elements related with the Technical Test for the Tales group </a>.</p>
</div>


<div class="text-primary">
    <button ttype="button" name="GetEmployee"  onclick="location.href='@Url.Action("Employee","Home")'">Get Employee information</button>
</div>